<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/StyleSheet.css">
    <script src="/js.js" defer></script>
    <title>Anna Granberg</title>
</head>
<body>

<!-- Navbar med ditt namn och presentation -->
<div class="navbar">
    <h1>Anna Granberg</h1>
    <h2>En blivande mjukvaruutvecklare</h2>
    <div id="navbarButton">
        <a href="/CV">
            <button id="resume">CV</button>
        </a>
        <a href="/Portfolio">
            <button id="portfolio">Portfolio</button>
        </a>

    </div>
</div>

<<div class="container">
    <h1>INTRODUKTION</h1>
    <div class="grid-container">
        <div class="box">
            <h2>BAKGRUND</h2>
            <ul>
                <li>Född och uppvuxen i Malmö</li>
                <li>Arbetat mycket inom service</li>
            </ul>
        </div>
        <div class="box">
            <h2>UTBILDNING</h2>
            <ul>
                <li>Kandidatexamen i datavetenskap med inriktning mot systemutveckling</li>
                PÅGÅENDE
            </ul>
        </div>
        <div class="box">
            <h2>INTRESSEN</h2>
            <ul>
                <li>Teknik i allmänhet</li>
                <li>Malmö FF</li>
                <li>Öl</li>
                <li>(work in progress)</li>
            </ul>
        </div>
        <div class="box">
            <h2>SKILLS</h2>
            <ul>
                <li>idk</li>

            </ul>
        </div>
    </div>
</div>

<div class="contact-container">
    <div class="contact-box">
        <a href="http://linkedin.com/in/anna-granberg-945b691a1" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
    </div>
    <div class="contact-box">
        <a href="tel:+46733030368" target="_blank">
            <i class="fab fa-github"></i> Telefon
        </a>
    </div>
    <div class="contact-box">
        <a href="mailto:annagranberg03@gmail.com">
            <i class="fas fa-envelope"></i> Email
        </a>
    </div>
    <div class="contact-box">
        <a href="https://discord.com/users/annagranberg" target="_blank">
            <i class="fab fa-twitter"></i> Discord
        </a>
    </div>
</div>

</body>
</html>
